button{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 3rem;
    border:1px solid #e3cdb1;
    background-color: #fafafa;
    color: #e3cdb1;
    width: 50%;
    height: 3rem;

    &:hover{
        background-color:#e3cdb1;
        color: #fafafa;
        transition: ease-in-out 300ms;
    }
}


#latest-recipes-button{
    margin-top: 0;
    width: calc(30px + 2*8.333333%);
    margin: 0 8.333333%;
    z-index: 1;
}

.horizontal-button {
    hr {
        margin-top: 1.5rem;
        width: calc(4*8.333333% - 15px);
        color: #E7E7E7;
    }
}
