// Global breytur :
$default-font-size: 16px;
$black: #000;
$white: #eee;
$baise: #e3cdb1;
$grey: #808080;
$lightgrey: #d3d3d3;
$background-color: #f7f1eb;
$shadow-color:  #ececec;
$dark-gray: #5e5b69;


// Button breytur :
$button-beige: #e3cdb1;
$button-white: #fafafa;
$button-transition: ease-in-out 300ms;
$button-black: #e7e7e7;

// Grid breytur :
$one-col: 8.333333%;
