// Global breytur :
$default_font_size: 16px;


// Button breytur :
$button_beige: #e3cdb1;
$button_black: #E7E7E7;
$button_transition: ease-in-out 300ms;
$button_white: #fafafa;

// Grid breytur :
$one_col: 8.333333%;
