// Global breytur :
$default_font_size: 16px;
$black: #000;
$white: #eee;
$baise: #e3cdb1;
$grey: #808080;
$lightgrey: #d3d3d3;
$background-color: #f7f1eb;
$shadow-color:  #ececec;
$dark-gray: #5e5b69;

// Button breytur :
$button_beige: #e3cdb1;
$button_white: #fafafa;
$button_transition: ease-in-out 300ms;
$button_black: #E7E7E7;

// Grid breytur :
$one_col: 8.333333%;
