footer{
    width: 100%;
    position: absolute;
    bottom:-740px;
}

.newsletter{
    text-align: left;
    background-color: black;
    color: white;
    width: 100%;
    height: 340px;
}

.subscribe{
    margin-top:120px;
}

.craving{
    color:bisque;
}

.rem3{
    font-size:3rem;
}

input{
    padding: 6px;
    border:none;
    border-bottom: 2px solid white;
    background-color: black;
    color:white;
    outline: none;
}.placeholder2{
    ::placeholder {
        color:white;
      }
}


::placeholder {
    color:grey;
}



.email-margin{
    margin-top: -120px;
}

.email{
padding-top: 6px;
}

.emailexample{
    width: 183px;
    border-bottom: 1px solid white;
    padding: 6px;
}


<<<<<<< HEAD
  .button:hover {
    background-color:  #E3CDB1;; 
    color: black;
  }

  .social{
    text-align: center;
    background-color: white;
    width: 100%;
    height: 330px;
}

.media-image{
    position: relative;
    width: 40px;
    height: 40px;
}

.inner-image {
    position:absolute;
    top: 12px;
    left: 31px;
}

.oval-image {
    position:absolute;
}

.yamyam{
    font: 0.7rem grey;
}
  
=======

>>>>>>> 17af6da39a1b8946409cf9775229748406ba7de9
