footer{
    width: 100%;
    position: absolute;
    bottom:-740px;
}

.newsletter{
    text-align: left;
    background-color: black;
    color: white;
    width: 100%;
    height: 340px;
}


.subscribe{
    font-size: 40px;
    margin-top: 120px;
}
/*mobile*/
@media(max-width: 560px) {
    .subscribe-sm{
        margin-top: 63px;
        font-size: 20px;
    }
}

.craving{
    font-size: 20px;
    color:bisque;
}

/*mobile*/
@media(max-width: 560px) {
    .craving-sm{
        font-size: 16px;
    }
}

input{
    padding: 6px;
    border:none;
    border-bottom: 2px solid white;
    background-color: black;
    color:white;
    outline: none;

}.placeholder2{
    ::placeholder {
        color:white;
      }
}


::placeholder {
    color:grey;
}



.email-margin{
    margin-top: 100px;
}
/*mobil*/
@media (max-width:560px){
    .email-margin-sm{
        margin-top:auto;
    }
}

.button-margin{
    margin-top: 150px;
}
/*mobil*/
@media (max-width:560px){
    .button-margin-sm{
        margin-top:auto;
    }
}

.email{
padding-top: 6px;
}

.emailexample{
    width: 183px;
    border-bottom: 1px solid white;
    padding: 6px;
}

footer{
  .button:hover {
    transition: 300ms ease-in-out;
    background-color:  #E3CDB1;;
    color: black;
  }
}
footer{
    .button{
        width: 250px;
        height: 52px;
        border:1px solid #E3CDB1;
        background-color:black;;
        color:#E3CDB1;
    }
}

/* Mobile */
 @media (max-width: 560px) {
    footer{
     .button-sm{
        width: 192px;
        height: 52px;
        border:1px solid #E3CDB1;
        background-color:black;;
        color:#E3CDB1;
     }
    }
 }
      
  .social{
    text-align: center;
    background-color: white;
    width: 100%;
    height: 330px;
}

.media-image{
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-image {
    position:absolute;

}

.oval-image {
    position:absolute;
}

.yamyam{
    margin-top:10px;
    font-size: 14px;
    color: lightgrey;
}

.flex-zone{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 150px;
}

.join{
    font-size: 18px;
    margin-top: 105px;
    margin-bottom: 30px;
}