footer{
    width: 100%;
    position: absolute;
    bottom: -300px;
}

.newsletter{
    text-align: left;
    background-color: black;
    color: white;
    width: 100%;
}

.craving{
    color:bisque;
}

.rem2 {
    font-size:2rem;
}


