@import './config';
// Global styles

main {
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #FAFAFA;
}

.main_latest {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 4.5rem;
}

.main__video{
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: $default_font_size;
  justify-content: center;
}


.eyebrow {
  font-size: $default_font_size;
  color: #E3CDB1;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 24px;
}
