.header {
  background-color: #fafafa;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  &-button {
    max-width: 50%;
  }

  &-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0 !important;
    max-width: 1310px;
    width: calc(100% + 30px);
  }

  &-grid {
    display: flex;
    margin: 0 auto;
    width: 100%;
  }

  &-right-side a {
    align-self: flex-end;
    color: #9b9b9b;
    font-family: 'Poppins', sans-serif;
    margin-right: 15px;
    text-decoration: none;
  }
  // Hamborgara Schenanigans

  nav {
    background: #fafafa;
    width: 100%;
  }

  &-nav-item:first-child {
    display: none;
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &-mobile {
    display: none;
  }

  &-nav-trigger {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
  }

  &-left-side {
    margin-left: 1rem;
    z-index: 100;
  }
}

.hero {
  background-color: #fafafa;
  background-image: url('img/cake-bg.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 100%;

  &-grid {
    align-items: center;
    display: flex;
    margin: 0 auto;
    margin-top: 4.5rem;
    max-width: 1290px;
    min-height: 800px;
  }

  &-content {
    align-content: center;
    display: flex;
    flex-direction: column;
  }

  &-eyebrow {
    color: #e3cdb1;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
  }

  &-title {
    font-family: 'Playfair Display', serif;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 80px;
  }

  &-text {
    color: #5e5b69;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
  }

  &-button button {
    background-color: transparent;
    max-width: 15.625rem;
  }

  &-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 80%;
  }

  &-icons2 {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 80%;
  }

  &-icon {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  &-icon img {
    height: 1.3125rem;
    margin-right: 10%;
  }
}

//Mobile View
@media only screen and (max-width: 560px) {
  .header {
    &-mobile:checked ~ nav {
      transform: translateY(0);
    }

    &-mobile:checked + .snua {
      transform: rotate(135deg);
    }

    &-mobile-trigger {
      display: block;
      position: fixed;
      top: 2rem;
      z-index: 100;
    }

    &-hamburger {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 60px;
      justify-content: center;
      padding: 1rem;
      position: absolute;
      right: 0.5rem;
      top: -1.5rem;
      transition: all 300ms ease-in-out;
      width: 60px;
      z-index: 1;
    }

    &-hamburger div {
      align-items: center;
      background-color: $black;
      border-radius: 1rem;
      display: flex;
      height: 2px;
      justify-content: center;
      position: relative;
      width: 100%;
    }

    &-hamburger div::before {
      background: $black;
      border-radius: 1rem;
      content: '';
      height: 2px;
      position: absolute;
      top: -10px;
      width: 100%;
      z-index: 1;
    }

    &-hamburger div::after {
      background: $black;
      border-radius: 1rem;
      content: "";
      height: 2px;
      position: absolute;
      top: 10px;
      width: 100%;
      z-index: 1;
    }

    &-hamburger nav {
      align-items: center;
      display: flex;
      left: 0;
      position: absolute;
      top: 0;
      transform: translateY(-100%);
      transition: transform 300ms ease-in-out;
      z-index: -1;
    }

    &-nav {
      flex-direction: column;
      height: 100vh;
      justify-content: space-around;
      list-style: none;
    }

    &-nav-item:first-of-type {
      display: flex;
    }

    &-nav-item {
      display: flex;
      font-size: 60px;
      justify-content: center;
      padding: 1rem;
    }

    &-nav-items a {
      color: black;
      font-family:'Playfair-Display', serif;
      font-weight: 700;
      text-decoration: none;
    }

    & ul {
      display:flex;
      flex-direction: column;
      list-style-type: none;
    }
  }
  .hero {  
    background-position: bottom left;
        
    &-content {
      align-content: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 15rem;
      max-width: none;
      width: 100% !important;
    }
  
    &-eyebrow {
      display: flex;
      justify-content: center;
    }

    &-text {
      display: none;
    }

    &-title {
      display: flex;
      justify-content: center;
    }

    &-icons {
      flex-direction: column;
      width: 100%;
    }

    &-icons2 {
      flex-direction: column;
    }

    &-button {
      display: flex;
      justify-content: center;
      max-width: none;
    }

    &-button button {
      background-color: transparent;   
    }
  }       
}
button {
  background-color: #fafafa;
  border:1px solid #e3cdb1;
  color: #e3cdb1;
  height: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 100%;
  &:hover {
    background-color: #e3cdb1;
    color: #fafafa;
    transition: ease-in-out 300ms;
  }
}
