.header{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #fafafa;
    position: fixed;
    top: 0px;
    z-index: 9999;
    width: 100%;

    &__button{
        max-width: 50%;
    }

    &__row{
        width: calc(100% + 30px);
        max-width: 1310px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0rem !important;
    }

    &__grid{
        width: 100%;
        margin: 0 auto;
        display: flex;
    }

    &__right__side{
        a{
            align-self: flex-end;
            margin-right: 15px;
            color: #9B9B9B;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
        }
    }
    
    // Hamborgara Schenanigans

    nav {
        width: 100%;
        background: #fafafa;
      }
 
    
    &__nav{
        display: flex;
        justify-content: space-between;
    
        list-style: none;  
        &__item:first-child{
            display: none;
        }
    }
    &__mobile{
        display: none;
        &__trigger {
            display: none;
        }
    } 

    ul {
        display:flex;
        flex-direction: row;
        list-style-type: none;
        width: 100%;
        justify-content: space-between;
    }

    &__left__side{
      margin-left: 1rem;
      z-index: 100;
    }
}


.hero{
    background-image: url(img/cake-bg.png);
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 100%;
    &__grid{
        max-width: 1290px;
        margin: 0 auto;
        min-height: 800px;
        display: flex;
        align-items: center;
        margin-top: 4.5rem;
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    &__eyebrow{
      font-size: 1rem;
      color: #E3CDB1;
      font-family: 'Poppins', sans-serif;
      line-height: 24px;
      font-weight: 500;
    }

    &__title{
        font-size: 3.75rem;
        font-family: 'Playfair Display', serif;
        line-height: 80px;
        font-weight: 700;
    }

    &__text{
        font-size: 1.125rem;
        color: #5E5B69;
        font-weight: 300;
        font-family: 'Poppins', sans-serif;
    }

    &__button{
        & button{
            background-color:transparent;
            max-width: 15.625rem;
        }
    }

    &__icons {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 80%;

        &2{
            justify-content: space-between;
            display: flex;
            flex-direction: row;
            margin-bottom: 1rem;
            margin-top: 1rem;
            width: 80%;
            color: white;
        }
    }

    &__icon{
        display: flex;
        flex-direction:row;
        flex: 1;

        img{
            height: 1.3125rem;
            margin-right: 10%;
        }
    }
}

//Mobile View
@media only screen and (max-width: 560px){
    .header{
        &__mobile:checked ~ nav {
            transform: translateY(0rem);    
        }

        &__mobile:checked + .snua{
            transform:rotate(135deg);
        }
            
        &__mobile__trigger{
                display: block;
                position: fixed;
                z-index: 100;
                top: 2rem;      
            }
        
        &__hamburger{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: -1.5rem;
            right: 0.5rem;
            z-index: 1;
            width: 60px;
            height: 60px;
            padding: 1rem;
            cursor: pointer;
            transition: all 300ms ease-in-out;

            div{
                position: relative;
                height: 2px;
                width: 100%;
                background-color: black;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 1rem;
            }
            div:before{
                content: "";
                position: absolute;
                z-index: 1;
                top: -10px;
                width: 100%;
                height: 2px;
                background: black;
                border-radius: 1rem;
            }

            div:after{
                content: "";
                position: absolute;
                z-index: 1;
                top: 10px;
                width: 100%;
                height: 2px;
                background: black;
                border-radius: 1rem;
            }
        }

        & nav{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: flex;
            transform: translateY(-100%);
            transition: transform 300ms ease-in-out;
            align-items: center;
        }

        &__nav{
            height: 100vh;

            flex-direction: column;
            justify-content: space-around;

            list-style: none;
            
            &__item:first-of-type{
                display: flex;
            }

            &__item{
                display: flex;
                justify-content: center;
                padding: 1rem;
                font-size: 60px;
                a {
                    text-decoration: none;
                    color: black;
                    font-family:'Playfair-Display', serif;
                    font-weight: 700;
                }
            }
        }

        & ul{
            display:flex;
            flex-direction: column;
            list-style-type: none;

        }
    }

    .hero{  

        background-position: bottom left;
       
        &__content{
            max-width: none;
            width: 100% !important;
            display: flex;
            flex-direction: column;
            align-content: center;
            margin-bottom: 15rem;
        }

        &__eyebrow{
            display: flex;
            justify-content: center;
        }
        
        &__text{
            display: none;
        }
        
        &__title{
            display: flex;
            justify-content: center;
        }

        &__icons{
            flex-direction: column;
            width: 100%;
            &2{
                flex-direction: column;
            }
        }

        &__button{
            max-width: none;
            display: flex;
            justify-content: center;
            & button{
                background-color: transparent;   
            }
        }
        
    }
}

button{
    padding-left: 3rem;
    padding-right: 3rem;
    border:1px solid #e3cdb1;
    background-color: #fafafa;
    color: #e3cdb1;
    width: 100%;
    height: 3rem;

    &:hover{
        background-color:#e3cdb1;
        color: #fafafa;
        transition: ease-in-out 300ms;
    }
}