.header{
    background-color: #FFFFFF;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;

    &__button{
        max-width: 50%;
    }

    &__row{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0rem !important;
        max-width: 1310px;
        width: calc(100% + 30px);
    }

    &__grid{
        display: flex;
        margin: 0 auto;
        width: 100%;
    }

    &__right__side{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 1rem;
        width: 50%;
        a{
            align-self: flex-end;
            color: #9B9B9B;
            font-family: 'Poppins', sans-serif;
            margin-right: 15px;
            text-decoration: none;
        }
    }

    &__left__side{
      margin-left: 1rem;
    }
}


.hero{
    background-color: #fafafa;
    background-image: url(img/cake-bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    width: 100%;
    &__grid{
        align-items: center;
        display: flex;
        margin-top: 4.5rem;
        margin: 0 auto;
        max-width: 1290px;
        min-height: 800px;
    }

    &__content{
        align-content: center;
        display: flex;
        flex-direction: column;
        max-width: 50%;
    }

    &__eyebrow{
      color: #E3CDB1;
      font-family: 'Poppins', sans-serif;
      font-size: 1rem;
      font-weight: 500;
      line-height: 24px;
    }


    &__title{
        font-family: 'Playfair Display', serif;
        font-size: 3.75rem;
        font-weight: 700;
        line-height: 80px;
    }

    &__text{
        color: #5E5B69;
        font-family: 'Poppins', sans-serif;
        font-size: 1.125rem;
        font-weight: 300;
    }

    &__button{
        max-width: 250px;
    }

    &__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 80%;
}
    &__icon{
        display: flex;
        flex-direction:row;
        flex: 1;

        img{
            height: 1.3125rem;
            margin-right: 10%;
        }
    }
}

button{
    background-color: #fafafa;
    border:1px solid #e3cdb1;
    color: #e3cdb1;
    height: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;

    &:hover{
        background-color:#e3cdb1;
        color: #fafafa;
        transition: ease-in-out 300ms;
    }
}
