// Styles for the recipes on the homepage

.recipes {
  margin-bottom: 2rem;
  margin-top: 2rem;

  .col {
    margin-bottom: 2rem;
  }

  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 53.32px;
  }

  .recipes-title {
    margin-bottom: 0;
    margin-top: 1.5rem;
  }
}

@media (max-width: 560px) {
  .recipes-title {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .latestrecipes-title {
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 100%;

    :last-child {
      font-size: 30px;
      margin-left: 5px;
    }

    :first-child {
      font-size: 30px;
    }
  }
}

.latestrecipes-title {
  display: flex;
  flex-direction: row;

  :last-child {
    margin-left: 10px;
  }

  :first-child {
    color: #d0d0d0;
  }

  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 53.32px;
  }
}

.ingredients-marg-90px {
  display: flex;
  flex-direction: column;
  height: 570px;
  justify-content: space-between;
  margin-left: 0;
  margin-top: 90px;
}

.recipe {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;

  img {
    background-color: #f6f6f6;
    height: auto;
    object-fit: cover;
  }

  &:last-child {
    margin-right: 0;
  }

  h3 {
    font-size: 1.375rem;
    margin-bottom: 1rem;
  }

  .recipe-info {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    width: 100%;
  }
}

.recipe-month {
  color: #9b9b9b;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 21px;
}

.recipe-name {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  font-weight: bold;
  line-height: 30px;
}

.recipe-info-left {
  a {
    color: #e3cdb1;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
  }
}

.read-more-box3 {
  margin-top: 27px;
}

// All recipes Read more link

.read-more-box2 {
  margin-top: 37px;
}

// Latest recipes page

.all-recipes {
  margin-bottom: 2rem;

  .col {
    margin-bottom: 2rem;
  }

  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
  }

  .all-recipes-title {
    margin-bottom: 0;
    margin-top: 1.5rem;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(2 * 8.33333%);
  }

  .right-side {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1rem;
    padding-left: 20px;
  }
}

.show-video-only {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 40px;
}

.checkbox-icon {
  height: 18px;
  margin: 0.7rem 0.5rem;
  width: 18px;
}

.all-recipe {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;

  img {
    background-color: #f6f6f6;
    height: auto;
    object-fit: cover;
  }

  &:last-child {
    margin-right: 0;
  }

  h3 {
    font-size: 1.375rem;
    margin-bottom: 1rem;
  }

  .all-info {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    width: 100%;
  }
}

.all-month {
  color: #9b9b9b;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
}

.all-name {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}

.all-info-right {
  a {
    color: #e3cdb1;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
  }
}

// Styles for the recipes on the recipe html

h4 {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
  margin-bottom: 20px;
}

.recipe-cards-all {
  margin-bottom: 0;
  margin-top: 1.5rem;
}

.recipe-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;

  img {
    background-color: #f6f6f6;
    height: auto;
    max-height: 390px;
    max-width: 409px;
    object-fit: cover;
  }
}

.recipe-text {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  width: 100%;
}

.recipe-text .recipe-text-left {
  margin-left: 1rem;
}

.recipe-text .recipe-text-right {
  margin-right: 1rem;
}

.recipe-date {
  color: #9b9b9b;
  font-size: 0.875rem;
}

.read-more-box {
  margin-top: 17px;
}

.read-more-right a {
  color: #e3cdb1;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  margin-right: 26px;
  text-decoration: none;
}

.recipe-work {
  margin-top: 1rem;

  .col {
    margin-bottom: 2rem;
  }
}
