// Styles for the recipes on the homepage

.recipes {
  margin-bottom: 2rem;

  .col {
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    line-height: 53.32px;
  }

  .recipes__title {
    margin-bottom: 0;
    margin-top: 1.5rem;
  }
}

.recipe {
  height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    background-color: #F6F6F6;
    object-fit: cover;
    height: auto;
  }

  &:last-child{
    margin-right: 0;
  }

  h3{
    margin-bottom: 1rem;
    font-size: 1.375rem;
  }

  .recipe__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5rem;
  }

  .recipe__info .recipe__info__right {
    margin-left: 1rem;
  }

  .recipe__info .recipe__info__left {
    margin-right: 1rem;
  }
}

.recipe__month {
  color : #9B9B9B;
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 21px;
}

.recipe__name{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}
.recipe__info__left {
  a {
    color : #E3CDB1;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
  }
}


// Latest recipes page

.All__recipes {
  margin-bottom: 2rem;

  .col {
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 40px;
  }

  .All__recipes__title {
    margin-bottom: 0;
    margin-top: 1.5rem;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .right__side {
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
  }
}

.show__video__only{
  font-size: 22px;
  font-weight: 700;
  line-height: 40px;
}

.checkbox__icon{
  height: 18px;
  width: 18px;
  margin: 0.7rem 0.5rem;
}
.All__recipe {

  height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    background-color: #F6F6F6;
    object-fit: cover;
    height: auto;
  }

  &:last-child{
    margin-right: 0;
  }

  h3{
    margin-bottom: 1rem;
    font-size: 1.375rem;
  }

  .All__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5rem;
  }

  .All__info .All__info__left {
    margin-left: 1rem;
  }

  .All__info .All__info__right {
    margin-right: 1rem;
  }
}

.All__month {
  color : #9B9B9B;
  font-size: 0.875rem;
}
.All__info__right {
  a {
    color : #E3CDB1;
    text-decoration: none;
    font-size: 1rem;
  }
}
// Styles for the recipes on the recipe html
.Ingredients{
  h3 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    color: #D0D0D0;
  }
}
h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  margin-bottom: 20px;

  color: #000000;
}

.FTD {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  margin-top: 40px;
}

.FTD-text1 {
p:first-of-type{margin-right: 50px;}
p:first-of-type{color: #E3CDB1}
p:first-of-type{font-family: Playfair Display;}
p:first-of-type{font-style: normal;}
p:first-of-type{font-weight: bold;}
p:first-of-type{font-size: 36px;}
p:first-of-type{line-height: 18px;}

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 17px;
color: #9B9B9B;
}

.FTD-text2 {
p:first-of-type{margin-right: 50px;}
p:first-of-type{color: #E3CDB1}
p:first-of-type{font-family: Playfair Display;}
p:first-of-type{font-style: normal;}
p:first-of-type{font-weight: bold;}
p:first-of-type{font-size: 36px;}
p:first-of-type{line-height: 18px;}

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 17px;
color: #9B9B9B;
}

.FTD-text3 {
p:first-of-type{margin-right: 50px;}
p:first-of-type{color: #E3CDB1}
p:first-of-type{font-family: Playfair Display;}
p:first-of-type{font-style: normal;}
p:first-of-type{font-weight: bold;}
p:first-of-type{font-size: 36px;}
p:first-of-type{line-height: 18px;}

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 17px;
color: #9B9B9B;
}

.FTD-text4 {
p:first-of-type{margin-right: 50px;}
p:first-of-type{color: #E3CDB1}
p:first-of-type{font-family: Playfair Display;}
p:first-of-type{font-style: normal;}
p:first-of-type{font-weight: bold;}
p:first-of-type{font-size: 36px;}
p:first-of-type{line-height: 18px;}

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 17px;
color: #9B9B9B;
}

.FTF-text1 {
p:first-of-type{margin-right: 50px;}
p:first-of-type{color: #E3CDB1}
p:first-of-type{font-family: Playfair Display;}
p:first-of-type{font-style: normal;}
p:first-of-type{font-weight: bold;}
p:first-of-type{font-size: 36px;}
p:first-of-type{line-height: 18px;}

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 17px;
color: #9B9B9B;
}

.FTF-text2 {
p:first-of-type{margin-right: 50px;}
p:first-of-type{color: #E3CDB1}
p:first-of-type{font-family: Playfair Display;}
p:first-of-type{font-style: normal;}
p:first-of-type{font-weight: bold;}
p:first-of-type{font-size: 36px;}
p:first-of-type{line-height: 18px;}

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 17px;
color: #9B9B9B;
}

.FTF-text3 {
p:first-of-type{margin-right: 50px;}
p:first-of-type{color: #E3CDB1}
p:first-of-type{font-family: Playfair Display;}
p:first-of-type{font-style: normal;}
p:first-of-type{font-weight: bold;}
p:first-of-type{font-size: 36px;}
p:first-of-type{line-height: 18px;}

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 17px;
color: #9B9B9B;
}

.FTF-text4 {
p:first-of-type{margin-right: 50px;}
p:first-of-type{color: #E3CDB1}
p:first-of-type{font-family: Playfair Display;}
p:first-of-type{font-style: normal;}
p:first-of-type{font-weight: bold;}
p:first-of-type{font-size: 36px;}
p:first-of-type{line-height: 18px;}
font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 17px;
color: #9B9B9B;
}


.FTF {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  margin: 0px 0px
}

.container{
  display: flex;
  flex-direction: row;
  width: calc(2*8.33333%);
  justify-content: space-between;
 }

.Ingredients {
  margin-left: 17px;
}
