// Styles for the recipes on the homepage

.recipes {
  margin-bottom: 2rem;
  margin-top: 2rem;

  .col {
    margin-bottom: 2rem;
  }

  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 53.32px;
  }

  .recipes__title {
    margin-bottom: 0;
    margin-top: 1.5rem;
  }
}

@media(max-width: 560px){
  .recipes__title{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .latestrecipes__title{
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 100%;
    :last-child{
      font-size: 30px;
      margin-left: 5px;
    }
    :first-child{
      font-size: 30px;
    }
  }
}
.latestrecipes__title{
  display: flex;
  flex-direction: row;
  :last-child{
    margin-left: 10px;
  }
  :first-child{
    color: #D0D0D0;
  }
}

.ingredients-marg-90px {
  display: flex;
  flex-direction: column;
  height: 570px;
  justify-content: space-between;
  margin-left: 0;
  margin-top: 90px;
  margin: 0;
}

.recipe {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;

  img {
    background-color: #F6F6F6;
    height: auto;
    object-fit: cover;
  }

  &:last-child{
    margin-right: 0;
  }

  h3{
    font-size: 1.375rem;
    margin-bottom: 1rem;
  }

  .recipe__info {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    width: 100%;
  }

  .recipe__info .recipe__info__right {
    margin-left: 1rem;
  }

  .recipe__info .recipe__info__left {
    margin-right: 1rem;
  }
}

.recipe__month {
  color : #9B9B9B;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 21px;
}

.recipe__name{
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}
.recipe__info__left {
  a {
    color : #E3CDB1;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
  }
}

.read_more_box3 {
  margin-top:27px;
}

// All recipes Read more link

.read_more_box2{
  margin-top: 37px;
}

// Latest recipes page

.All__recipes {
  margin-bottom: 2rem;

  .col {
    margin-bottom: 2rem;
  }

  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
  }

  .All__recipes__title {
    margin-bottom: 0;
    margin-top: 1.5rem;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .right__side {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1rem;
    padding-left: 20px;
  }
}

.show__video__only{
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 40px;
}

.checkbox__icon{
  height: 18px;
  margin: 0.7rem 0.5rem;
  width: 18px;
}
.All__recipe {

  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;

  img {
    background-color: #F6F6F6;
    height: auto;
    object-fit: cover;
  }

  &:last-child{
    margin-right: 0;
  }

  h3{
    font-size: 1.375rem;
    margin-bottom: 1rem;
  }

  .All__info {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    width: 100%;
  }

  .All__info .All__info__left {
    margin-left: 1rem;
  }

  .All__info .All__info__right {
    margin-right: 1rem;
  }
}

.All__month {
  color : #9B9B9B;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
}

.All__name{
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}
.All__info__right {
  a {
    color : #E3CDB1;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
  }
}

.All__name{
  color: black;
  font-size: 40px;
  line-height: 53px;
}
// Styles for the recipes on the recipe html

h4 {
  color: #000000;
  font-family: 'Poppins';
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
  margin-bottom: 20px;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(2*8.33333%);
 }

.recipe_cards_all {
  margin-bottom: 0;
  margin-top: 1.5rem;
}

.Recipe_card {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.recipe_text {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  width: 100%;
}

.recipe_text .recipe_text_left {
  margin-left: 1rem;
}

.recipe_text .recipe_text_right {
  margin-right: 1rem;
}

.recipe_date {
  color : #9B9B9B;
  font-size: 0.875rem;
}

.recipe_name {
  font-family: 'Playfair' Display;
  font-style: normal;
  font-weight: bold;
}

.read_more_box {
  margin-top: 17px;
}

.read_more_right a {
  color: #E3CDB1;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  margin-right: 26px;
  text-decoration: none;
}
.Recipe_card{
  img {
    background-color: #F6F6F6;
    height: auto;
    max-height: 390px;
    max-width: 409px;
    object-fit: cover;
  }
}


.recipe_work {
  .col{
    margin-bottom: 2rem;
  }
  margin-top: 1rem;
}

.latestrecipes__title{
  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 53.32px;
  }
}